/********** BASE STYLES **************/
:root{
  padding-left: 3rem;
  padding-right: 3rem;
}

body {
  box-sizing: border-box;
  color: black;
  font-weight: 300;
  font-size: 1.9rem;
  /* line-height: 2.5rem; */
  line-height: 169%;
  letter-spacing: 0.02em;
  font-family: "Akshar", sans-serif;
  
}

a {
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #000000;
}

/********** HEADER **************/
nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}

.flex-header {
  display: flex;
  align-items: flex-end;
  margin-top: 28rem;
  margin-bottom: 5rem;
}

.main-title-logo {
  max-width: 90%;
}

.header-about{
  margin-left: auto;
  white-space: pre-line;
  
}

/***********QOUTE ***************/
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/Rectangle5.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.p-quote {
  width: 385px;
  height: 228px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  white-space: pre-line;

}

.cat-photo {
  left: 41.55%;
  right: 4.11%;
  top: 20.39%;
  bottom: 53.74%;
  border-radius: 25px;
  margin-top: 8%;
}

/********** MAIN **************/
main{
width: 1288px;
height: 1003px;
left: 219px;
top: 2572px;
margin: auto;

background: #F9F8F8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 60%;
  /* min-height: 26rem; */
  margin: 10rem auto 0 auto;
  list-style: none;
}

.content-p{
  font-size: 2.5rem;
  font-weight: 400;
  white-space: pre-line;
  margin-right: auto;
  margin-top: 6rem;
}


button {
  border: none;
  padding: 0;
  background: none;
  /* max-width:80%; */
  height: 15rem;
  /* color: white; */
  /* background: linear-gradient(to left, pink, #f8cd1a); */
  /* border-radius: 25px; */
  /* font-weight: 600; */
  /* font-size: 1rem; */
  /* text-align: bottom; */
  /* margin-top: auto; */
}

button:hover {
  /* background: #54e1e4; */
  background: linear-gradient(to bottom, pink, #f8cd1a);
  background-blend-mode: lighten;
  border-radius: 15rem;
  /* background-image: url("img/Ellipse80.svg");
  background-repeat: no-repeat;
  background-size: 100%; */
  /* max-height: 100%; */
  cursor: pointer;
}

/* 
.animal-icons{
  max-width: 65%;
  width: 3rem;
} */

/********** FOOTER *************/
.footer-links {
}

/********** MODAL **************/
/* THIS IS WHAT IS HIDDING THE  */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: black;
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  /* Will add specific spacing here maybe... */
}

.surprise-image {
  max-width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}

/********** MEDIA QUERIES **************/

/* Maybe larger sized screens, need to push the cat pic closer to the middle... */

/* .cat-photo {

  margin-right: 5rem;
} */