

/********** BASE STYLES **************/

* {
  box-sizing: border-box;
}



.container-header, .quote, .tech, .footer-logo{
  padding-left: 3rem;
  padding-right: 3rem;
}

body {
  letter-spacing: 0.05em;
  color: black;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 169%;
  letter-spacing: 0.02em;
  font-family: "Akshar", sans-serif;
  
}

a {
  font-size: 1.2rem;
  line-height: .6rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #000000;
}

/********** HEADER **************/
nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}

.flex-header {
  display: flex;
  align-items: flex-end;
  margin-top: 19rem;
  margin-bottom: 6.5rem;
}

.main-title-logo {
  max-width: 80%;
}

.header-about{
  margin-left: auto;
  white-space: pre-line;
}




/********** MAIN **************/
main{
background: #F9F8F8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
width: 1288px;
height: 1050px;
left: 219px;
top: 2572px;
margin: auto;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 65%;
  margin: 10rem auto 4rem auto;
  list-style: none;
}

.content-p{
  font-size: 2.5rem;
  font-weight: 500;
  white-space: pre-line;
  margin-right: auto;
  margin-top: 6rem;
  padding-bottom: 2rem;
}


button {
  /* box-shadow: 2px 2px 5px #999; */
  border-radius: 15rem;
  padding-top: 1rem;
  border: none;
  /* padding: 0; */
  background: none;
  /* max-width:80%; */
  height: 15rem;
  /* color: white; */
  /* background: linear-gradient(to left, pink, #f8cd1a); */
  /* border-radius: 25px; */
  /* font-weight: 600; */
  /* font-size: 1rem; */
  /* text-align: bottom; */
  /* margin-top: auto; */
}

button:hover {
  background: linear-gradient(180deg, #FFC0CB 0%, rgba(254, 195, 167, 0.797368) 38.24%, rgba(252, 198, 115, 0.500622) 70.76%, rgba(248, 205, 26, 0) 112.21%);
  opacity: 0.9;
  border-radius: 15rem;
  /* background-repeat: no-repeat;
  background-size: 100%; */
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

/* 
.animal-icons{
  max-width: 65%;
  width: 3rem;
} */




 /********** ADD QUESTION *************/
 .add-a-question{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 13rem 0rem;
 }

 .add{
  display: flex;
  flex-direction: column;
  background-image: url(img/bg-ask-gradient.png);
  background-repeat: no-repeat; 
  width: 590px;
  height: 675px;
  left: 273px;
  top: 2487px;

 }

 .cat-photo {
  z-index: 5;
  left: 49.95%;
  right: 15.9%;
  top: 48.36%;
  bottom: 38.51%;
}

.add-q-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

select{
width: 250px;
height: 54px;
left: 443px;
top: 2611.17px;
background: #FFFFFF;
box-shadow: 0px 4px 4px 2px #FFC0CB;
border-radius: 25px;
margin: 0 0 20px 0;
stroke: #FFFFFF;
border: none;
outline: none;
    scroll-behavior: smooth;
}

select, option{
  text-align: center;
}

.question-field{
  width: 418px;
  height: 341px;
  left: 359px;
  top: 2696px;
  border-radius: 25px;
  border: none;
}

.question-field, .value{
  padding-left: 2rem;
 padding
  /* justify-content: flex-start; */
  
}

.submit-q{
  width: 150px;
height: 54px;
left: 493px;
top: 3062px;
box-shadow: 0px 4px 4px 2px rgba(252, 198, 115, 0.2);
border-radius: 25px;
background: #FFFFFF;
margin: 20px 0rem;
border: none;
}


 /********** TECH USED *************/
.tech{
  display: flex;
 flex-direction: column;
  align-items: center;
}

.tech-used{
  display: flex;
  list-style: none;
  column-gap: 60px;

}

.tech-used img{
  max-width: 80%;

}

.about-why{
  font-size: 1.65rem;
  font-weight: 400;
  align-self: center;
  padding-top: 1rem;
  
}

/********** FOOTER *************/
footer{
  background: #F9F8F8;
background-repeat: no-repeat;
/* background-size: 100% 80%; */
height: 392px;
left: 0px;
top: 4751px;
padding-top: 1rem;
margin-top: 6rem;
/* padding: 4rem 0; */
/* font-size: 1rem; */
}


.footer-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
  column-gap: 150px;
  /* margin-left: 3rem; */
}

.links a{
  letter-spacing: 0.36px;
}

.links{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0;
  /* background: linear-gradient(180deg, #FFC0CB 0%, rgba(254, 195, 167, 0.797368) 38.24%, rgba(252, 198, 115, 0.500622) 70.76%, rgba(248, 205, 26, 0) 112.21%);
  opacity: 0.9; */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* border-radius: 15rem; */
  /* background-repeat: no-repeat;
  background-size: 100%; */
  cursor: pointer;
}


.footer-title{
  padding: 7rem 3rem 0rem 3rem;
  
}











/********** MODAL **************/
/* THIS IS WHAT IS HIDDING THE  */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: black;
  background-color: #F9F8F8;;
  padding: 4rem;
  border-radius: 25px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: black;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 139%;
  letter-spacing: 0.02em;
}

.close-modal {
  /* Will add specific spacing here maybe... */
}

.surprise-image {
  max-width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}


.more-modal, .close-modal{
  padding-top: 0;
  width: 8rem;
  height: 3rem;
  color: black;
background: linear-gradient(180deg, #FFC0CB 0%, rgba(254, 195, 167, 0.797368) 38.24%, rgba(252, 198, 115, 0.500622) 70.76%, rgba(248, 205, 26, 0) 112.21%);
  opacity: 0.9;

  border-radius: 5rem;
  border: none;

  font-size: 1.3rem;
  text-align: center;
  margin: 0.6rem;
 
  font-weight: 300;

  line-height: 169%;
  letter-spacing: 0.02em;
  font-family: "Akshar", sans-serif;
}



/********** MEDIA QUERIES **************/

/* Maybe larger sized screens, need to push the cat pic closer to the middle... */

/* .cat-photo {

  margin-right: 5rem;
} */